# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

BROWSER="none"

NEXTAUTH_URL=

# NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="https://team-tree-app.vercel.app"

# Telegram Bot
BOT_TOKEN=
BOT_USERNAME=

# Require an authorized user: display a welcome/login screen if no user session
USER_REQUIRED=true

# -----------------------------------------------------------------------------
# Prisma
# -----------------------------------------------------------------------------

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="file:.data/data.db"
# DATABASE_URL="postgres://default:USER@HOST:5432/teamtree?sslmode=require"

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
# @see https://nextjs.org/learn/dashboard-app/adding-authentication
AUTH_SECRET=

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_OAUTH_TOKEN=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Yandex
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# Email (Resend)
# @see https://resend.com/api-keys
# -----------------------------------------------------------------------------
RESEND_API_KEY=
EMAIL_FROM=

