<?xml version="1.0" encoding="utf-8"?>
<!-- Config file for IIS/iisnode server -->
<configuration>
<system.webServer>
<handlers>
  <add name="iisnode" path="iisnode-nextjs-entry.js" verb="*" modules="iisnode" />
</handlers>

<iisnode nodeProcessCommandLine="C:\nodejs\node.exe" />

<rewrite>
  <rules>
    <rule name="nodejs">
      <match url="(.*)" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="/iisnode-nextjs-entry.js" />
    </rule>
  </rules>
</rewrite>

<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>
  </requestFiltering>
</security>
<directoryBrowse enabled="true" />
</system.webServer>
</configuration>
